# ENVIRONMENT VARIABLES
.env
.env.*

# PYTHON CACHE
__pycache__/
*.pyc
*.pyo
*.pyd

# JUPYTER
.ipynb_checkpoints/

# VECTOR DATABASE FILES
# FAISS
*.index
*.pkl
faiss_index/
# CHROMA
chroma_db/
# PINECONE LOCAL CACHE
*.db

# STREAMLIT / CHAINLIT
.files/
.chainlit/