fastapi
uvicorn
pydantic
mysql-connector-python
pymongo

openai
google-generativeai
ollama

streamlit
chainlit

sentence-transformers
langchain
langchain-community
langchain-openai
langchain-text-splitters

chromadb
faiss-cpu
pinecone-client

numpy
pandas
python-dotenv